/MvwmAuto/MvwmAuto
/MvwmBacker/MvwmBacker
/MvwmButtons/MvwmButtons
/MvwmCommand/MvwmCommand
/MvwmCommand/MvwmCommand.pm
/MvwmCommand/MvwmCommand.sh
/MvwmCommand/MvwmCommandS
/MvwmCommand/scripts/ex-auto
/MvwmCommand/scripts/ex-cascade
/MvwmCommand/scripts/ex-grpmv
/MvwmCommand/scripts/focus-Netscape
/MvwmCommand/scripts/focus-link
/MvwmCommand/scripts/push-away
/MvwmCommand/scripts/test1
/MvwmConsole/MvwmConsole
/MvwmConsole/MvwmConsoleC
/MvwmCpp/MvwmCpp
/MvwmEvent/MvwmEvent
/MvwmIconMan/MvwmIconMan
/MvwmIdent/MvwmIdent
/MvwmPager/MvwmPager
